@model _01MVC_Todo.Models.Todo

@{
    ViewBag.Title = "待辦事項新增";
}

    <h2>待辦事項新增</h2>


@*@using (Html.BeginForm()) 
{*@
    @*@Html.AntiForgeryToken()*@                @*每次執行一次view即產生一次token，驗證表單是否為正常管道所新增的*@
<form method="post" action="/Home/Create">
    <div class="form-horizontal">
        <hr />
        @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@   
        <div class="form-group">
            <label class = "control-label col-md-2" for="title" >標題</label>
            @*@Html.LabelFor(model => model.title, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                <input id="title" name="title" type="text" placeholder="請輸入標題" class = "form-control" required="required" value="@ViewBag.title2"/>
                @*@Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control",required="required" } })
                @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            <label class = "control-label col-md-2" for="Img">優先程度</label>

            @*@Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })*@
        <div class="col-md-10">
            @{                                                                            @*保留原始表單狀態用*@
                string check1 = "", check2 = "";
                if (ViewBag.Img == "0.png")
                {
                    check1 = "selected";
                }
                if (ViewBag.Img == "1.png")
                {
                    check2 = "selected";
                }

            }
            <select id="Img" name="Img" class="form-control" required>
                <option value="1.png" @check2>普通</option>
                <option value="0.png" @check1>重要</option>
            </select>

            <img src="~/images/1.png" id="show_img"/>
            @*<input id="Img" name="Img" type="text" placeholder="請選擇優先程度" class="form-control" />*@
            @*@Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })*@
        </div>
        </div>

        <div class="form-group">
            <label class = "control-label col-md-2" for="Date">結束日期</label>
            @*@Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                <input id="Date" name="Date" type="date" class="form-control" required value="@ViewBag.Date"/>
                @*@Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                 @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="新增" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>

@*}*@

<div>
    <a href="/Home/Index">返回列表</a>
    @*@Html.ActionLink("Back to List", "Index")*@
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>
    $('#Img').change(function () {
        $('#show_img').attr('src', '/images/' + $('#Img').val())
    });
   
</script>
